*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2vw;
	width: 100%;
	margin: 0;
	border: none;
	/* 0 shadow on left and right/centered, 15px length, 18px is blur, 10px is spread*/
  }
header {
	background: linear-gradient(to bottom, white, lightsteelblue);
	border-bottom: 3px solid steelblue;
	padding: 2vw;
}
header img {
    float: left;
	width: clamp(100px, 12vw, 120px);
	height: auto;
  }
header h1{
    font-size: 3vw;
    color: steelblue;
  }
header h2{ 
    font-size: 2.2vw;
  }
/*nav menu styling*/
#nav_menu{
	background-color: steelblue;
}
.menu {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu > li{
	position: relative;	
}
.menu a{
	display: block;
	padding: 1vw 1.5vw;
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.menu a:hover, .menu a:focus {
	background-color: steelblue;
}
.menu a.current {
	border: 2px solid white;
	border-radius: 10px;
}
/*sub menu styling*/
.submenu .submenuli {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	list-style: none;
	background-color: steelblue;
	z-index: 1000;
	min-width: 200px;
}

.submenu:hover .submenuli{
	display: block;
}
.submenu li a {
	padding: 0.8vw 1.2vw;
}
main{
	display: flex;
	flex-direction: row;
	padding: 2vw;
	gap: 2vw;
	align-items: flex-start; }
main section{
	flex: 3;
	padding: 1vw; }
main section h2, main section h3, main section p {
	margin-bottom: 10px; }
main section blockquote p{padding-left: 30px}
main section h2, main section h3{
	margin-top: 10px; }
main section h3 a{
    color: maroon;
  }
a{ font-weight: bold; 
  font-size: 1.2vw; }
section a{ color: maroon; }
section a:hover, a:focus{ color: steelblue; }
aside {
	flex: 1;
	border: 3px solid steelblue;
	border-radius: 20px; 
	padding: 2vw;
}
aside a{ color: steelblue; } 
aside a:hover, a:focus{ color: maroon; }
aside h2{ color: maroon;
		  font-size: 2vw; }
aside ul{ line-height: 1.5;
		 } 
footer{
	clear: both;
    text-align: center;
    font-size: 1vw;
	background-color: steelblue;
	color: white;
	padding: 2vw 0 ;
}

