*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
  }
a {
	text-decoration: none;
	color: steelblue;
	font-weight: bold;
}
a:hover, a:focus {
	color: maroon;
}
header {
	background: linear-gradient(to bottom, white, lightsteelblue);
	border-bottom: 3px solid steelblue;
	padding: 1rem;
	text-align: center;
}
header img {
	display: block;
  	margin: 0 auto 0.5rem auto;
	height: auto;
	width: 100px;
  }
header h1{
    font-size: 1.8rem;
    color: steelblue;
  }
header h2{ 
    font-size: 1.2rem;
	margin-top: 0.5rem;
  }
/*nav menu styling*/
#nav_menu{
	background-color: steelblue;
}
.menu {
	list-style: none;
}
.menu li{
	position: relative;	
}
.menu a.current {
	border: 2px solid white;
	border-radius: 10px;
}
.submenuli {
	display: none;
	background-color: steelblue;
	list-style: none;
}
.menu li.open > .submenuli {
	display: block;
}
.submenu li a {
	padding: 0.5rem 1rem;
}
.menu a{
	display: block;
	padding: 0.8rem 1rem;
	color: white;
}
/*main styling*/
main{
	display: flex;
	flex-direction: row;
	padding: 1rem;
	gap: 1rem;
}
section{
	width: 100% }
main section h2, main section h3, main section p {
	margin-bottom: 10px; }
main section blockquote p {
	padding-left: 1rem;
	font-style: italic;
}
aside ul{ line-height: 1.5;
		 } 
main section h2, main section h3{
	margin-top: 10px; }
main section h3 a{
    color: maroon;
	}
a{ font-weight: bold; 
  font-size: 1.2vw; }
section a{ color: maroon; }
section a:hover, a:focus{ color: steelblue; }
aside {
	border: 3px solid steelblue;
	border-radius: 15px;
	width: 100%;
	padding: 1rem;
}
aside a{ 
	color: steelblue; 
	display: block;
	margin-bottom: 0.5rem;
} 
aside a:hover, a:focus{ color: maroon; }
aside h2{ color: maroon;
		  font-size: 0.5rem; 
}
footer {
    text-align: center;
    font-size: 0.9rem;
	background-color: steelblue;
	color: white;
	padding: 1rem 0;
}

@media (min-width: 768px) {
	main {
	flex-direction: row;
	align-items: flex-start;
	gap: 2rem;
	}
	section {
		flex: 3;
	}
	aside {
		flex: 1;
	}
}
@media (min-width: 992px) {
	.menu {
		display: flex;
	}
	.menu li {
		position: relative;
	}
	.menu li a {
		padding: 1rem 1.5rem;
	}
	.submenu:hover .submenuli {
		display: block; 
		position: absolute;
		left: 0;
		top: 100%;
		min-width: 200px;
		z-index: 1000;
	}
	.submenuli li a {
		padding: 0.5rem 1rem;
	}
}

