  body{
    font-family: Arial, Helvetica, sans-serif;
  }

  header img {
    float: left;
		margin-right: 20px; 
	 	margin-bottom: auto;
  }

  header h1{
    font-size: 26pt;
    color: steelblue;
  }

  header h2{ 
    font-size: 22pt;
  }
  main section h3 a{
    color: maroon;
  }

  a{ font-weight: bold; }

  section a{ color: maroon; }

  section a:hover, a:focus{ color: steelblue; }

  aside a{ color: steelblue; } 
  
  aside a:hover, a:focus{ color: maroon; }
  
  aside h2{ color: maroon; }
  
  aside ul{ line-height: 1.5; } 
  
  footer{
    text-align: center;
    font-size: 8pt;
	}  

