*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	max-width: 700px;
	width: 100%;
	margin: 0 auto 40px auto;
	/* 0 shadow on left and right/centered, 15px length, 18px is blur, 10px is spread*/
  }
header {
	background: linear-gradient(to bottom, white, lightsteelblue);
	border-bottom: 3px solid steelblue;
	padding: 20px 20px 40px;
}
header img {
    float: left;
	margin-right: 20px; 
	margin-bottom: auto;
  }
header h1{
    font-size: 26pt;
    color: steelblue;
  }
header h2{ 
    font-size: 22pt;
  }
main{
margin: 20px 20px 20px 20px;
}
main section h2, main section h3, main section p {
 margin-bottom: 10px;
}
main section blockquote p{padding-left: 30px}
main section h2, main section h3{
margin-top: 10px;
}
main section h3 a{
    color: maroon;
  }
a{ font-weight: bold; }
section a{ color: maroon; }
section a:hover, a:focus{ color: steelblue; }
aside {
	border: 3px solid steelblue;
	border-radius: 20px; 
	padding: 20px 0 0 20px;
	margin: 20px 20px 35px 20px;
}
aside a{ color: steelblue; } 
aside a:hover, a:focus{ color: maroon; }
aside h2{ color: maroon;
		  padding-left: 7px;}
aside ul{ line-height: 1.5;
padding: 10px 20px 15px 20px;
		 } 
footer{
    text-align: center;
    font-size: 8pt;
	background-color: steelblue;
	color: white;
	padding: 30px 0 20px 0 ;
}


